<nav class="side-navbar">
    <div class="side-navbar-wrapper">
        <!-- Sidebar Header    -->
        <div class="sidenav-header d-flex align-items-center justify-content-center">
            <!-- User Info-->
            <div class="sidenav-header-inner text-center"><img src="images/avatar-1.jpg" alt="person"
                    class="img-fluid rounded-circle">
                <h2 class="h5">Chau Tan Dat</h2><span>Mobile Developer</span>
            </div>
            <!-- Small Brand information, appears on minimized sidebar-->
            <div class="sidenav-header-logo"><a href="index.html" class="brand-small text-center">
                    <strong>B</strong><strong class="text-primary">D</strong></a></div>
        </div>
        <!-- Sidebar Navigation Menus-->
        <div class="main-menu">
            <h5 class="sidenav-heading">Main</h5>
            <ul id="side-main-menu" class="side-menu list-unstyled">
                <li><a href="/home"> <i class="icon-home"></i>Home </a></li>
                <li><a href="/profile"> <i class="icon-form"></i>Profile </a></li>
                <li><a href="/table"> <i class="icon-grid"></i>Table</Table></a></li>
                <li><a href="/dang-xuat"></i>Log Out </a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="page">
    <form>
        <a href="san-pham/them-moi" class="buttonProductInsert">ADD PRODUCT</a>
    </form>
    <section>
        <div class="container-fluid">
            <!-- Page Header-->
            <div class="row">
                <div class="table">
                    <div class="card">
                        <div class="card-header">
                            <h4>Product List</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Stt</th>
                                            <th>Id</th>
                                            <th>Name</th>
                                            <th>Price</th>
                                            <th>Quantity</th>
                                            <th>Description</th>
                                            <th>Category</th>
                                            <th>Image</th>
                                            <th>Released</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    {{#each products}}
                                    <tbody>
                                        <tr>
                                            <td>{{this.index}}</td>
                                            <td>{{this._id}}</td>
                                            <td>{{this.name}}</td>
                                            <td>{{this.price}}</td>
                                            <td>{{this.quantity}}</td>
                                            <td>{{this.description}}</td>
                                            <td>{{this.category_id.name}}</td>
                                            <td>
                                                <img src="{{this.image}}" width="170" height="180" />
                                            </td>
                                            <td>{{this.released}}</td>
                                            
                                            <td><a onclick="edit('{{this._id}}')"><img src="images/icons8-edit-24.png"></a>
                                            </td>
                                            <td><a onclick="onClickDelete('{{this._id}}');" data-toggle="modal"
                                                    data-target="#confirmModal"><img src="images/icons8-delete-24.png"></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                    {{/each}}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    const edit = (id) => {
        // http://localhost:3000/san-pham/:id/edit
        window.location.href = `http://localhost:3000/san-pham/${id}/edit`
    }

    let deleted_id;

    const onClickDelete = (id) => {
        deleted_id = id;
    }

    const fetchAPI = async (url, option) => {
        const res = await fetch(url, option);
        return res.json();
    }

    const onDelete = async () => {
        const url = `http://localhost:3000/san-pham/${deleted_id}/delete`;
        const option = {
            method: 'delete',
            headers: { 'Content-Type': 'application/json' }
        }
        try {
            await fetchAPI(url, option);
            window.location.href = '/san-pham';
        } catch (e) { console.log('Delete error: ', e) }
    }

</script>

<!--  Modals-->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Confirm action</h4>
            </div>
            <div class="modal-body">
                <div class="panel-body">
                    <h3>Are you sure?</h3>
                    <div class="form-group modal-footer">
                        <button onclick="onClose()" type="button" class="btn btn-default"
                            data-dismiss="modal">Cancel</button>
                        <button type="button" onclick="onDelete()" class="btn btn-primary">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Modals-->